body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  overflow: hidden;
}

header {
  background-color: #1c1d1f;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 100%;
}

nav a {
  display: inline-flex;
  align-items: center;

  text-decoration: none;
  color: #862dbd;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #4a0072;
}

main {
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.form-group {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.form-group p {
  color: gray;
  margin: 0;
  padding: 0;
}

.book-list {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 20px;
}

.book-item {
  display: flex;
  background: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.book-item img {
  width: 100px;
  height: 150px;
  margin-right: 15px;
  border-radius: 5px;
}

.book-item h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.book-item p {
  margin: 5px 0;
  font-size: 14px;
}

.favorite-icon {
  cursor: pointer;
  font-size: 24px;
  color: #ff4081;
  margin-left: auto;
  transition: transform 0.2s;
}

.favorite-icon:hover {
  transform: scale(1.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background-color: #6a1b9a;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4a0072;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  max-width: 500px;
}

.search-container input {
  flex-grow: 1;
}

.search-container button {
  width: auto;
}

.logout-link {
  background-color: transparent;
  width: auto;
  background: none;
  border: none;
  color: #eb4242;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 0;
  margin: 0;
}

.logout-link:hover {
  background-color: transparent;
  color: #b71c1c;
}

footer {
  padding: 10px;
  text-align: center;
  width: 100%;
}
